
    body{
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    h1 {
        background: yellow;
        color: black;
        text-align: center;
        margin-left: 100px; 
        margin-right: 100px;
        border-radius:100px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    img{
        cursor: pointer;
        margin-left: 500px;
    }
    img:active{
        transform: translateY(10px);
        background-color: #F8DE22;
    }
    h6{
        font-family: monospace;
        font-size: 13px;
    }
    h4{
        font-family: monospace;
        text-align: center;
        font-size: 13px;
    }
    .input-section{
        display:flex;
        flex-direction:column;
    }

    label{
        display: block;
        margin-bottom:6px;
        margin-top: 10px;
        font-size:16px;
        font-weight:bold;
        color: maroon;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    input{
      padding:10px; 
      border: 4px solid orangered;
      border-radius: 10px;
      font-size: 16px;
      outline: none;
   }

   input:focus{
    border-color: yellow;

   }
   button{
    padding:10px 20px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right:10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: black;
    background-color:#C70039 ;
    font-family: monospace;
   }

   button:hover {
    background-color: #900C3F;
   }

   button:active{
    transform: translateY(10px);
    background-color: #F8DE22;

   }